* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  /* background-color: #212121; */
  background-color: azure;
}

#webgl,
.webgl {
  outline: none;
  border: 3px solid blue;
}

.grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
}

.sjorcraft-editor {
  background-color: beige;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
