* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  overflow: hidden;
  background-color: azure;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sjorcraft-editor {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.editor-main-content {
  height: 100%;
  display: flex;
  position: relative;
}

.webgl {
  outline: none;
  height: 100%;
  width: 100%;
  min-width: 0;
}

/* .toolbar-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  padding: 0;
  gap: 0.5rem;
} */

.toolbar-icon {
  display: flex;
  width: 2.75rem; /* 11 * 0.25rem */
  height: 2.75rem; /* 11 * 0.25rem */
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem; /* rounded */
  margin: 0 1px; /* mx-px */
  cursor: pointer;
  background-color: #effcec;
}

.toolbar-icon-active {
  display: flex;
  width: 2.75rem; /* 11 * 0.25rem */
  height: 2.75rem; /* 11 * 0.25rem */
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem; /* rounded */
  margin: 0 1px; /* mx-px */
  cursor: pointer;
  background-color: #aafc93;
  color: #000000;
}

.toolbar-icon:hover {
  outline: 1px solid #6b7280;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table td {
  text-align: center;
  padding: 4px;
}

.data-table th:nth-child(1),
.data-table td:nth-child(1) {
  width: 50px; /* Set width for the first column */
}

.data-table th:nth-child(2),
.data-table td:nth-child(2) {
  width: 400px; /* Set width for the second column */
  text-align: left;
}

.data-table th:nth-child(3),
.data-table td:nth-child(3) {
  width: 200px;
  text-align: center;
}
